.drop-overlay
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  z-index 9999
  background-color $blue
  opacity 0.3
  display none

  .dragging &
    display block
$frameHeight = 100px
body
  padding-bottom $frameHeight
.frames
  position fixed
  bottom 0
  width 100%
  text-align center
  display inline-block
  height $frameHeight
  overflow-x scroll
  whitespace nowrap
  li
    display inline-block
    height 100%
    vertical-align top

  img
    display block
    height 100%
    width auto

.gif-wrapper
  width 100%
  height 100%
  padding 30px
.gif
  clear both
  height 100%
  width 100%
  text-align center
  img
    position relative
    top 50%
    display inline-block
    vertical-align top
    max-height 100%
    max-width 100%
    transform translate3d(0, -50%, 0)

.frames .photo-filter
  display:none

.drop-zone
  height 100%
