
global-reset()

*, *:after, *:before
  box-sizing border-box

html
  font-size: 62.5%

html, body
  height 100%
  width 100%

body
  font-family 'Lato'
  padding 0px
  // padding-bottom 20px

.container
  width: 100%
  height: 100%

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

h2
  rem(28)
  text-align center
  width: 100%
  position relative
  top 50%
  margin-top: -14px
