$height = 52px
body
  padding-top $height
.navbar
  width 100%
  background-color $dark
  color $light
  clearfix()
  position fixed
  top 0
  left 0
  height $height
  z-index 999
  ul
    clearfix()
    list-style-type none
    float left
    li
      float left
      a
        text-decoration none
        color $blue

h1, ul li a, a
  padding 15px
  color $light
  rem(22)
  line-height 1em
  font-weight 100
  float left
  display: block

.container
  height 100%
  width 100%

.save, .link
  float right
  text-decoration none
  cursor pointer
  &:hover
    background-color $blue
    cursor pointer



.loading .spinner {
  background-color: white
  // transition: all 300ms
  transform: translate3d(0,0,0)
}
.spinner {
  width: 30px;
  height: 30px;
  background-color: transparent;

  margin: 10px auto;
  // float: right
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}