.controls
    position fixed
    top 52px
    left 0
    z-index 500
.menu
    position relative
    transition all 200ms
    .open &
        transform translate3d(0,0,0)
    .closed &
        transform translate3d(0,-100%,0)
    background $dark
    color $light
    rem(24)
    font-weight 100
    ul
    li
        padding 10px
.settings
    background $dark
    color $light
    width auto
    display inline-block
    position absolute
    transition all 200ms
    transform translate3d(0,100%,0)
    z-index:
    .closed &
        bottom 0
        left 0
    .open &
        bottom 100%
        left 100%
        // transform translate3d(0,100%,0)
    z-index 9999
    ul

    li
        padding 10px
        rem(30)