breakpoint(size)
  if size == 'lappy'
    @media only screen and (max-width : 960px)
      block
  if size == 'tablet'
    @media only screen and (max-width : 768px)
      block
  if size == 'mobile'
    @media only screen and (max-width : 540px)
      block

rem(sizeValue)
  font-size unit(sizeValue, 'px')
  font-size unit(sizeValue / 10, 'rem')