div(ng-include="'partials/navbar.html'")
//- div.controls(ng-class="{'open': menu, 'closed': !menu}")

//-   div.menu
//-     ul
//-       li|speed
//-       li|size
//-       li|filter

//-     div.settings
//-       ul(ng-click="menu=!menu")
//-         li
//-           i.fa-bars.fa


div.drop-zone(drop-zone)
  div.drop-overlay
  h2(ng-show="files.length == 0")|Drop some image files, yeah?
  ul.frames
    li(
      ng-repeat="file in files",
      ng-click="remove(file)"
      )
      img(ng-src="{{file.dataURL}}")
      img.photo-filter(ng-src="{{file.dataURL}}", photo-filter)
  .gif-wrapper
    .gif(gif)
      img(ng-src="{{gif.dataURL}}")

div(ng-include="'partials/modal.html'")