.navbar(ng-controller='NavbarCtrl')
  h1 Gifly
  ul
    li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
      a(ng-href='{{item.link}}') {{item.title}}

  a.save(ng-click="save()")
    |Save it
  a.link(ng-show="gif.url", ng-href="{{gif.url}}" target="_blank")|Link
  .spinner